*.RData
*.rds
*.csv
*.xlsx
*.pdf
*.zip
*.docx
validation/*/
*.enlp
*.lnk

.Rhistory
.RData
.RDataTmp

# 包含特定于某些系统（如 Windows）的历史记录文件
.Rhistory-[0-9]*

# ----------------------------------------------------------------------------
# RStudio 局部配置与状态文件
# ----------------------------------------------------------------------------
# 存储 RStudio 的项目局部配置、临时状态和打开的文件列表
.Rproj.user/

!shiny/shiny_data.RData